<div
  class="absolute m-5 p-5 top-0 right-0 text-white bg-slate-800 z-20 rounded-md md:w-80"
>
  <p class="mb-4">
    <span class="underline">Punto de partida</span>
    {{
      startPoint?.length > 0
        ? startPoint[0].toFixed(4) + ", " + startPoint[1].toFixed(4)
        : ""
    }}
    <br class="md:hidden md:mb-2" />
  </p>
  <p>
    <span class="underline">Punto de destino</span>:
    {{
      endPoint?.length > 0
        ? endPoint[0].toFixed(4) + ", " + endPoint[1].toFixed(4)
        : ""
    }}
    <br class="md:hidden md:mb-2" />
  </p>
</div>
<div
  id="sidebar"
  class="absolute mx-5 my-10 sm:w-1/4 md:top-0 right-0 sm:right-auto left-0 sm:left-auto bottom-0 p-5 overflow-y-auto z-10 flex flex-col items-center bg-slate-800 rounded-md text-white max-h-32 sm:max-h-full"
>
  <div class="flex-col items-center">
    <h1 class="font-medium text-lg text-white text-center">Informe</h1>
    <button
      (click)="clickHandler()"
      class="px-3 py-2 bg-orange-700 hover:bg-orange-900 text-white rounded-md my-4"
    >
      Crear ruta
    </button>
  </div>
  <ul>
    <li *ngFor="let report of reports; index as i" class="mb-3">
      <h2 class="font-medium">Ruta {{ report.id }}</h2>
      <p>
        Toma
        {{ report.duration == 0 ? "menos de un" : report.duration }} minuto{{
          report.duration > 1 ? "s" : ""
        }}
        y
        {{
          report.collisions
            ? "hay " + report.collisions + " lomada"
            : "no hay lomadas"
        }}{{ report.collisions > 1 ? "s" : "" }}
        en el camino.
      </p>
    </li>
  </ul>
</div>
<div class="hidden md:block sidebar bg-slate-800 z-20">
  Longitud: {{ lng }} | Latitud: {{ lat }} | Zoom: {{ zoom }}
</div>
<div id="map" class="h-screen w-screen"></div>
