<div
  class="absolute top-0 z-10 h-44 w-screen bg-white p-5 shadow md:w-96 md:rounded-md md:m-5"
>
  <div class="flex items-center mb-5 gap-3">
    <button (click)="menuClickHandler()">
      <app-menu-icon></app-menu-icon>
    </button>
    <h1 class="font-medium">Indicaciones para llegar</h1>
  </div>
  <div class="flex items-center justify-between">
    <div class="flex flex-auto flex-col gap-3">
      <div class="flex items-center gap-3">
        <app-origin-icon></app-origin-icon>
        <div class="flex w-full items-center rounded-md bg-slate-100 py-1 px-2">
          <input
            placeholder="Selecciona el punto de salida"
            type="text"
            class="w-full bg-slate-100 focus:outline-none text-sm"
          />
          <button>
            <app-search-icon></app-search-icon>
          </button>
        </div>
      </div>
      <div class="flex items-center gap-3">
        <app-destiny-icon></app-destiny-icon>
        <div class="flex w-full items-center rounded-md bg-slate-100 py-1 px-2">
          <input
            placeholder="Selecciona el punto de destino"
            type="text"
            class="w-full bg-slate-100 focus:outline-none text-sm"
          />
          <button>
            <app-search-icon></app-search-icon>
          </button>
        </div>
      </div>
    </div>
    <button class="mr-1 ml-6">
      <app-swap-icon></app-swap-icon>
    </button>
  </div>
</div>

<ng-container *ngIf="showMenu">
  <div
    (click)="menuClickHandler()"
    class="absolute top-0 z-20 h-screen w-screen bg-black/20"
  ></div>
  <div
    class="absolute top-0 z-30 flex h-screen w-64 flex-col gap-4 bg-white p-5 text-sm text-gray-700"
  >
    <div class="flex justify-between">
      <h1 class="text-base font-medium">Asistente de viaje</h1>
      <button (click)="menuClickHandler()">
        <app-left-icon></app-left-icon>
      </button>
    </div>
    <hr />
    <div class="flex justify-between">
      <div class="flex items-center gap-2">
        <app-lomada-icon></app-lomada-icon>
        <label for="lomadas"> Lomadas </label>
      </div>
      <input id="lomadas" type="checkbox" />
    </div>
    <div class="flex justify-between">
      <div class="flex items-center gap-2">
        <app-signal-icon></app-signal-icon>
        <label for="señales"> Señales de tránsito </label>
      </div>
      <input id="señales" type="checkbox" />
    </div>
    <hr />
    <button class="group flex w-fit items-center gap-2 hover:text-gray-900">
      <app-book-icon></app-book-icon>Leyes vigentes
    </button>
    <button class="group flex w-fit items-center gap-2 hover:text-gray-900">
      <app-edit-icon></app-edit-icon>Editar mapa
    </button>
    <button class="group flex w-fit items-center gap-2 hover:text-gray-900">
      <app-gear-icon></app-gear-icon>Opciones
    </button>
  </div>
</ng-container>

<!-- <div
  class="absolute m-5 p-5 top-0 right-0 text-white bg-slate-800 z-20 rounded-md md:w-80"
>
  <p class="mb-4">
    <span class="underline">Punto de partida</span>
    {{
      startPoint?.length > 0
        ? startPoint[0].toFixed(4) + ", " + startPoint[1].toFixed(4)
        : ""
    }}
    <br class="md:hidden md:mb-2" />
  </p>
  <p>
    <span class="underline">Punto de destino</span>:
    {{
      endPoint?.length > 0
        ? endPoint[0].toFixed(4) + ", " + endPoint[1].toFixed(4)
        : ""
    }}
    <br class="md:hidden md:mb-2" />
  </p>
</div> -->
<!-- <div
  id="sidebar"
  class="absolute mx-5 my-10 sm:w-1/4 md:top-0 right-0 sm:right-auto left-0 sm:left-auto bottom-0 p-5 overflow-y-auto z-10 flex flex-col items-center bg-slate-800 rounded-md text-white max-h-32 sm:max-h-full"
>
  <div class="flex-col items-center">
    <h1 class="font-medium text-lg text-white text-center">Informe</h1>
    <button
      (click)="clickHandler()"
      class="px-3 py-2 bg-orange-700 hover:bg-orange-900 text-white rounded-md my-4"
    >
      Crear ruta
    </button>
  </div>
  <ul>
    <li *ngFor="let report of reports; index as i" class="mb-3">
      <h2 class="font-medium">Ruta {{ report.id }}</h2>
      <p>
        Toma
        {{ report.duration == 0 ? "menos de un" : report.duration }} minuto{{
          report.duration > 1 ? "s" : ""
        }}
        y
        {{
          report.collisions
            ? "hay " + report.collisions + " lomada"
            : "no hay lomadas"
        }}{{ report.collisions > 1 ? "s" : "" }}
        en el camino.
      </p>
    </li>
  </ul>
</div> -->
<div
  class="absolute px-3 py-1 bottom-1 right-0 rounded-md m-4 hidden md:block monospace shadow text-gray-700 bg-white z-10"
>
  Longitud: {{ lng }} | Latitud: {{ lat }} | Zoom: {{ zoom }}
</div>
<div id="map" class="h-screen w-screen"></div>
